*{
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0
}

.grid-container{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.sidebar{
    margin-left: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1{
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    background: #7cc06d
}
.overlay{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.overlay-container{
    background: #7cc06d;
    font-family: 'Montserrat';
    padding: 0.3em;
    border-color: black;
}